/* Navbar.css */

body {
    margin: 0;
    font-family: 'calibri', sans-serif;
  }
  
  .header {
    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #292734; /* Blackish-purple background color */
    color: rgb(219, 219, 219); /* White text color */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure the header is on top */
  }
  
  .header h2 {
    margin: 0;
  }

  .navbar {
    font-family: 'calibri', cursive;
  font-size: 2.5rem;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-links a {
    color: rgb(243, 169, 231);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #9751a1; /* Lighter purple color on hover */
  }
  
  .content {
    margin-top: 4rem; /* Adjust based on the height of your header */
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  /* Mobile Responsive Styles */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
   
    
  }
  
  /* https://codepen.io/piyushpd139/pen/gOYvZPG  find a good style from link as well*/
 

  .social-icon {
    display: inline-block;
    transition: color 0.3s ease-in-out; /* Add a transition for the color property */
  }
  
  .social-icon:hover {
    color: orange; /* Change to the desired hover color */
  }
  

  /* ----------for about section-------------- */
  /* modern-animations.css */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply animations to specific elements */
.main-container {
  animation: fadeInUp 1s ease-in-out;
}

img {
  animation: scaleIn 1s ease-in-out;
}

.about-content {
  animation: slideInRight 1s ease-in-out;
}

button {
  animation: fadeInUp 1s ease-in-out;
}

  


  /* ----------------------- */