/* services-styles.css */

.main-container {
    background-color: #f3f4f6; /* Light Gray */
  }
  
.services-container {
    display: flex;
    justify-content: space-around;
  }
  
  .service-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .service1 {
    background-color: #4b5563;
    color: #ffffff;
  }
  
  .service2 {
    background-color: #6b7280;
    color: #ffffff;
  }
  
  .service3 {
    background-color: #374151;
    color: #ffffff;
  }
  